<h1>Add Appointment</h1>

<%= form_with(model: [@doctor, @appt], local: true, class: "ui form") do |f| %>
  <%= f.label :patient %>
  <%= f.select :patient_id, @patients.collect { |p| [p.full_name, p.id] } %>
  <br />
  <%= f.label :role %>
  <%= f.select :role ['physician', 'person'] %>
  <br />
  <f.submit nil, class: "ui green button">
<% end %>
